.container {
  margin: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr 20% 1fr;
}
.el1 {
  background-color: antiquewhite;
}
.el2 {
  background-color: rgb(48, 123, 189);
}
.el3 {
  background-color: brown;
}
.el4 {
  background-color: darkgreen;
}
